<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.demo.mapper.DemoEmployeeMapper">
    <resultMap id="BaseResultMap" type="hbi.core.demo.dto.Employee">
        <result column="employee_id" property="employeeId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="DECIMAL" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectAll1" resultType="hbi.core.demo.dto.Employee">
        SELECT
        e.employee_id,
        e.company_id,
        e. NAME,
        e.age,
        e.sex,
        c.com_name cname
    FROM
        employee e,
        company c
    WHERE
        e.company_id = c.company_id
	AND e.company_id=#{companyId}
    </select>


</mapper>