<#include "../include/header.html">
<script src="${base.contextPath}/common/code?statusData=EXAMINE_QRDER_STATUS"></script>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        queryResource: function (e) {
           $('#Grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function () {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        },
        saveAsExcel:function(e){
            $('#Grid').data('kendoGrid').saveAsExcel();
        }
    });
</script>
<body>
<script src="http://kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
<div id="page-content">
    <div class="panel" style="padding: 15px;border:none;box-shadow: none;">
        <form id="query-form" class="form-horizontal" >
              <div class="row" style="margin: 10px -7.5px">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">公司名称</label>
                            <div class="col-sm-8">
                                <input   id="companyName" type="text"  data-bind="value:model.companyId,text:model.companyName"
                                       style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">客户名称</label>
                            <div class="col-sm-8">
                                <input  id="customerName" style="width:100%" data-bind="value:model.customerId,text:model.customerName">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">销售订单号</label>
                            <div class="col-sm-8">
                                <input class="k-textbox"  style="width:100%;" data-bind="value:model.orderNumber">
                            </div>
                        </div>
                    </div>
                   <script type="text/javascript">
                      //  lov定义，查询弹出框
                          //公司名称
                           $("#companyName").kendoLov({
                               code: "LOV_EXAMINE_COMPANY",
                               contextPath: '${base.contextPath}',
                               locale: '${base.locale}'
                           });
                           //客户名称
                           $("#customerName").kendoLov({
                               code: "LOV_CUSTOMER",
                               contextPath: '${base.contextPath}',
                               locale: '${base.locale}'
                           });
                   </script>
                </div>

                <div class="row " style="margin: 10px -7.5px">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">物料</label>
                            <div class="col-sm-8">
                                <input  id="item"  style="width:100%;" data-bind="value:model.itemDescription">
                            </div>
                        </div>
                        <script type="text/javascript">
                            //  lov定义，查询弹出框
                            //物料查询
                            $("#item").kendoLov({
                                code: "LOV_ITEM",
                                contextPath: '${base.contextPath}',
                                locale: '${base.locale}'
                            });
                        </script>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">订单状态</label>
                            <div class="col-sm-8">
                                <input  id="orderStatus" data-bind="value:model.orderStatus" style="width: 100%">
                            </div>
                            <script>
                                $("#orderStatus").kendoComboBox({
                                    dataSource: statusData,
                                    dataTextField: "meaning",
                                    dataValueField: "value",
                                    valuePrimitive: true
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="pull-left" style="margin: 10px;margin-left: 70px;">
                        <div class="form-group">
                           <span class="btn btn-success" data-bind="click:queryResource"><@spring.message "hap.query"/></span>
                           <span class="btn  btn-primary"  data-bind="click:resetForm"><@spring.message "hap.reset"/></span>
                            <span class="btn  btn-warning" data-bind="click:saveAsExcel" >导出Excel</span>
                        </div>
                </div>
        </form>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>

    <div style="clear:both">
        <div id="Grid"></div>
    </div>
</div>

<script type="text/javascript">

    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "http://106.14.217.60:50839/api/public/exam/header/query",
                type: "POST",
                dataType: "json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "headerId",
                fields: {}
            }
        }
    });
    $("#Grid").kendoGrid({
        dataSource: dataSource,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable: false,
        toolbar: "<a class='btn' onclick='addOrder()' ><i class='fa fa-plus-square' style='margin-right:3px;color:green;'></i>新建</a>",
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        excel: {
            fileName: "SO_Order_"+(new Date()).getFullYear()+(new Date()).getMonth()+(new Date()).getDate()+".xlsx"
        },
        columns: [
            {
                field: "orderNumber",
                title: '<@spring.message "OmOrderHeaders.orderNumber"/>',
                width: 120,
                attributes: {
                    style: "text-align: center;"
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                template: function (dataItem) {
                    if (!dataItem.orderNumber)
                        return '';
                    if (!!dataItem) {
                        return '<a style="text-decoration : underline;color : blue;cursor:pointer" onclick="detail('+dataItem.headerId+')">' +
                            '<span style="color: blue">' +dataItem.orderNumber+ '</span></a>';
                    }
                }
            },
             {
                field: "companyName",
                title: '<@spring.message "OmOrderHeaders.companyName"/>',
                width: 120,
                 attributes: {
                     style: "text-align: center;"
                 },
                 headerAttributes: {
                     style: "text-align: center;"
                 }
            },
            {
                field: "customerName",
                title: '<@spring.message "OmOrderHeaders.customerName"/>',
                width: 120,
                attributes: {
                    style: "text-align: center;"
                },
                headerAttributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "orderDate",
                title: '<@spring.message "OmOrderHeaders.orderDate"/>',
                width: 120,
                attributes: {
                    style: "text-align: center;"
                },
                headerAttributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "orderStatus",
                title: '<@spring.message "OmOrderHeaders.orderStatus"/>',
                width: 120,
                attributes: {
                    style: "text-align: center;"
                },
                headerAttributes: {
                    style: "text-align: center;"
                },
                template: function (dataItem) {
                    if (!dataItem.orderStatus)
                        return '';
                    if (dataItem.orderStatus=='NEW') {
                       return '新建';
                    }else if(dataItem.orderStatus=='SUBMITED'){
                        return '已提交';
                    }else if(dataItem.orderStatus=='APPROVED'){
                        return '已拒绝';
                    }else{
                        return '已审批';
                    }
                }
            },
            {
                field: "orderAmount",
                title: '<@spring.message "OmOrderHeaders.ordersMoney"/>',
                width: 120,
                attributes: {
                    style: "text-align: center;"
                },
                headerAttributes: {
                    style: "text-align: center;"
                }
            },
        ],
        editable: false
    });
    Hap.autoResizeGrid("#Grid");

    //转到订单详细页
    function detail(headerId) {
         parent.openTab('EDIT'+headerId,'订单详情页', '${base.contextPath}/orderManage/om_order_lines.html?headerId='+headerId+'&flag=1');
    }
    //转到订单详细页新增
    function addOrder(){
         parent.openTab('TASK_NEW','新建订单', '${base.contextPath}/orderManage/om_order_lines.html?flag=0');
    }
</script>
</body>
</html>